
Théodore Chabardès <theodore.chabardes@mines-paristech.fr> <chabardes@chabardesAlien>
Théodore Chabardès <theodore.chabardes@mines-paristech.fr> <chabardes@CHABARDES.cmm>
Théodore Chabardès <theodore.chabardes@mines-paristech.fr> <theodore@chabardes.net>
Théodore Chabardès <theodore.chabardes@mines-paristech.fr> <chabardt@chabardes-debian>
Théodore Chabardès <theodore.chabardes@mines-paristech.fr> <chabardes@chabardes-PC>
Théodore Chabardès <theodore.chabardes@mines-paristech.fr> <theodore@theodore-Precision-WorkStation-390.(none)>
Théodore Chabardès <theodore.chabardes@mines-paristech.fr> <theodore.chabardes@mines-paristech.fr>

Beatriz Marcotegui <Beatriz.Marcotegui@mines-paristech.fr> <Beatriz.Marcotegui@mines-paristech.fr>
Beatriz Marcotegui <Beatriz.Marcotegui@mines-paristech.fr> <marcoteg@cabrera.(none)>
Beatriz Marcotegui <Beatriz.Marcotegui@mines-paristech.fr> <beatriz.marcotegui@cmm.ensmp.fr>

Michel Bilodeau <Michel.Bilodeau@mines-paristech.fr> <bilodeau@bilos.cmm>
Michel Bilodeau <Michel.Bilodeau@mines-paristech.fr> <bilodeau@bilospro.cmm>
Michel Bilodeau <Michel.Bilodeau@mines-paristech.fr> <Michel.Bilodeau@Mines-ParisTech.fr>
Michel Bilodeau <Michel.Bilodeau@mines-paristech.fr> Michel Bilodeau <you@example.com>

Mathieu Faessel <Mathieu.Faessel@mines-paristech.fr> <faessel@matt-desktop.(none)>
Mathieu Faessel <Mathieu.Faessel@mines-paristech.fr> <faessel@matt-laptop.(none)>
Mathieu Faessel <Mathieu.Faessel@mines-paristech.fr> <faessel@cmm.ensmp.fr>
Mathieu Faessel <Mathieu.Faessel@mines-paristech.fr> <matthieu.faessel@u-bordeaux.fr>

Etienne Decenciere <Etienne.Decenciere@mines-paristech.fr> <decencie@cmm.ensmp.fr>

Amin Fehri <Amin.Fehri@mines-paristech.fr> <amin.fehri@mines-paristech.fr>
Amin Fehri <Amin.Fehri@mines-paristech.fr> <fehri@cmm.ensmp.fr>

Serge Koudoro <Serge.Koudoro@mines-paristech.fr> unknown <serge.koudoro@mines-paristech.fr>
